<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zheng.hai.qiang.mapper.FailQuestionMapper">

    <select id="seedFailQuestion" parameterType="hashmap" resultType="zheng.hai.qiang.pojo.ExamResult" >
        SELECT t.failquestion FROM examresult t WHERE t.person = #{person} and t.`failquestion` IS NOT NULL;
    </select>

</mapper>